version: "3"

services:
  java:
    build: .
    volumes:
      - .:/home/leandro/app
    container_name: java
    depends_on:
      - db

  db:
    build: ./.docker/mysql
    container_name: mysql
    command: --innodb-use-native-aio=0
    restart: always
    tty: true
    environment:
      - MYSQL_DATABASE=meu_banco
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_USER=root
    ports:
      - "3366:3306"

